.playlistList-top {
  padding-block-start: 0.5rem;
  padding-block-end: 0.5rem;
  margin-block-end: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.playlistList-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}

.playlistList-container > * {
  flex-shrink: 0;
}

/* .playlistList-container::-webkit-scrollbar {
  display: none;
} */
/*
Puedes usar el pseudo-element ::-webkit-scrollbar{ display: none }, 
el cual mantiene la funcionalidad del scroll pero oculto (se mueve con 
las teclas derecha, izquierda)
*/

.playlistList-title {
  font: var(--headLine2);
  color: var(--white);
  margin: 0; /*por defecto tiene margen*/
}
