::-webkit-scrollbar {
  /* background: red; */
  inline-size: 0.5rem;
  block-size: 0.5rem;
}

/* ::-webkit-scrollbar-button {
  background: blue;
} */

::-webkit-scrollbar-thumb {
  background: var(--gray60);
}

::-webkit-scrollbar-track {
  background: var(--gray50);
}
/* ::-webkit-scrollbar-thumb:horizontal {
  background: pink;
}

.playlistList-container::-webkit-scrollbar-thumb:horizontal {
  background: black;
} */
