.slider {
  /*inline-size: 200px; */
  background: rgb(255, 255, 255, 0.2);
  block-size: 0.25rem;
  border-radius: 0.25rem;
}

.slider-progress {
  block-size: inherit;
  inline-size: 20%;
  border-radius: inherit;
  background: var(--white);
  position: relative;
}

.slider-button {
  background: var(--white);
  padding: 0;
  border: 0;

  block-size: 200%; /*del contenedor padre (.slider-progress)*/
  aspect-ratio: 1/1; /*indica q debe ser cuadrado*/
  border-radius: 50%;

  position: absolute;
  left: 100%; /*del contenedor padre (.slider-progress)*/

  top: 50%; /*del contenedor padre (.slider-progress)*/
  transform: translate(-50%, -50%);
  /*sobre el eje x é y, el % es respecto al tamaño de la bolita*/
  display: none;
  /*con esto se oculta la bolita*/
}

.slider:hover .slider-progress {
  background: var(--primary);
}

.slider:hover .slider-button {
  display: block; /*se visualiza la bolita*/
}

/*
Si colocas en el .slider-progress: display: flex; align-items: center; justify-content: right; tambien queda el botoncito en el final del slider y centrado. :)
*/
