@import "./display-flex.css";
@import "./flex-order.css";
@import "./flex-direction.css";
@import "./flex-wrap.css";
@import "./flex.css";
@import "./justify-content.css";
@import "./align-items.css";

:root {
  --darkColor: #04001e;
  --lightColor: #dffbff;
  --primaryColor: #db086f;
}

body {
  background: var(--darkColor);
  color: var(--lightColor);
  font-family: system-ui;
}

a {
  color: var(--lightColor);
}

.wrapper {
  max-inline-size: 64rem; /*1024px*/
  /* border: 15px solid white;  */
  margin: auto;
}

.box {
  border: 5px dashed var(--primaryColor);
  padding: 1rem;
  counter-increment: flex-items; /*puede ser cualquier nombre, para q tenga coherencia le pongo el mismo nombre de content: counter(flex-items)*/
}

.box::after {
  content: counter(flex-items);
}
