/*
.justifyContent {
  display: flex;
  // justify-content: space-evenly //
  // espacio entre los elementos de igual magnitud //
  // justify-content: afecta al eje principal, por si cambia de direccion //
  border: 1px solid red;
  justify-content: flex-end;
  //flex-wrap: wrap; //
  // gap: 4rem; genera margin en las filas donde se necesita tener espaciado//
  block-size: 1000px;
  // align-items: flex-start; se ejecuta en el eje transversal y con lo q está dentro del contenedor(items) //
  flex-direction: column;
  align-items: flex-start;
}


.justifyContent img:nth-of-type(1) {
  align-self: flex-end;
}

.justifyContent img:nth-of-type(3) {
  align-self: center;
} 
*/

.justifyContent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: 1px solid red;
  gap: 2rem;
}
.spaceBetween {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.spaceBetween img {
  height: 100px;
  border-radius: 50%;
}

.spaceBetween ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  align-items: center;
}
