@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?q1vjfw");
  src: url("fonts/icomoon.eot?q1vjfw#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?q1vjfw") format("truetype"),
    url("fonts/icomoon.woff?q1vjfw") format("woff"),
    url("fonts/icomoon.svg?q1vjfw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-heart:before {
  content: "\e918";
}
.icon-add-plus:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-credit-card:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e907";
}
.icon-home:before {
  content: "\e908";
}
.icon-home-active:before {
  content: "\e909";
}
.icon-library:before {
  content: "\e90a";
}
.icon-library-active:before {
  content: "\e90b";
}
.icon-music:before {
  content: "\e90c";
}
.icon-next:before {
  content: "\e90d";
}
.icon-pause:before {
  content: "\e90e";
}
.icon-Play:before {
  content: "\e90f";
}
.icon-prev:before {
  content: "\e910";
}
.icon-round:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-search-active:before {
  content: "\e913";
}
.icon-Vector:before {
  content: "\e914";
}
.icon-volume-down:before {
  content: "\e915";
}
.icon-volume-off:before {
  content: "\e916";
}
.icon-volume-up:before {
  content: "\e917";
}
